

<div style="border: 3px rgba(206, 24, 24, 0.877);">
    <h3>View Employee Details </h3>
    <br>
    <div>
        <div>
            <label ><b>Name : </b></label> &nbsp; {{employee.name1}}
        </div>
        <div>
            <label ><b>Employee-Id : </b></label> &nbsp;{{employee.empid}}
        </div>
        <div>
            <label ><b>Email-Id : </b></label> &nbsp;{{employee.emailId}}
        </div>
        <div>
            <label ><b>Role : </b></label> &nbsp;{{employee.role}}
        </div>
        <div>
            <label ><b>Designation : </b></label> &nbsp;{{employee.designation}}
        </div>
        <div>
            <label ><b>Location : </b></label> &nbsp;{{employee.location}}
        </div>
    </div>
    
    </div>