<marquee  direction="left"><strong> Here you will get all the details of your project and the teannates </strong> </marquee>
<h1 style="color: blue;">1) Mskill java Learning </h1>
<table border="1">
<tr> 
    <td> <strong> Project Name : Mskill Java Learning  </strong>  </td>

</tr>
</table> <br> 
<table border="1">
<tr> 
    <td> <strong> Supervisor : Anurag Sinha ()  </strong>  </td>

</tr>
</table><br>
<table border="1">
    <tr> 
        <td> <strong> Technologies : Angular, Java, SpringBoot ,PostgresSql </strong>  </td>
    
    </tr>
    </table><br>
    <table border="1">
        <tr> 
            <td> <strong> Demo Project : Idea_Capture &nbsp;&nbsp;    (C:\Users\2210703\Desktop\idea capture\Idea_c_final\Idea_capture) </strong>  </td>
        
        </tr>
        </table><br>
    <table border="1">
        <tr> 
            <td> <strong> Start Date : 20-02-2022 (not sure)  </strong>  </td>
        
        </tr>
        </table><br>
        <table border="1">
            <tr> 
                <td> <strong> Ebd  Date : 08-04-2022 </strong>  </td>
            
            </tr>
            </table><br>


    <!-- BPS HARMONIZATION -->
    <h1 style="color: blue;">1) BPS HARMONIZATION </h1>
            <table border="1">
                <tr> 
                    <td> <strong> Project Name :BPS Harmonization  </strong>  </td>
                
                </tr>
                </table> <br> 
                <table border="1">
                <tr> 
                    <td> <strong> Supervisor : Raju Santra  ()  </strong>  </td>
                
                </tr>
                </table><br>
                <table border="1">
                    <tr> 
                        <td> <strong> Technologies : Angular, Java, SpringBoot ,PostgresSql </strong>  </td>
                    
                    </tr>
                    </table><br>
                    <table border="1">
                        <tr> 
                            <td> <strong> Sub Project : ESIPOC  &nbsp;&nbsp;    </strong>  </td>
                        
                        </tr>
                        </table><br>
                        <table border="1">
                            <tr> 
                                <td> <strong> about ESIPOC :   &nbsp;&nbsp;    </strong>  </td>
                            
                            </tr>
                            </table><br>
                    <table border="1">
                        <tr> 
                            <td> <strong> Start Date : 18-04-2022 </strong>  </td>
                        
                        </tr>
                        </table><br>
                        <table border="1">
                            <tr> 
                                <td> <strong> Ebd  Date :  </strong>  </td>
                            
                            </tr>
                            </table><br>
                





